= javascript_include_tag :ideas

= render partial: 'ideas/partials/idea_details'

= render partial: 'ideas/partials/user_options'

- if can?(:create, Comment, current_user)
  = render partial: 'comments/add_comment'

= render partial: 'ideas/partials/comments'

:javascript
  var idea_liked  = #{object_liked?(@idea)};
  var idea_id     = #{@idea.id};
  var idea_likes  = #{@idea.get_likes.size};
  var idea_active = #{@idea.status.eql?(STATUS[:active])}