= javascript_include_tag :ideas

#project-box
  .card
    .card-body
      .row
        .col-10
          .text-left
            %h4= @idea.title
        .col-2
          - if user_signed_in?
            .text-right
              = link_to like_idea_path(@idea.id), method: :post, remote: true, onclick: 'likeIdea()', class: 'text-muted', id: 'like_btn' do
                = icon('far', 'heart', title: t(:like))
              = link_to dislike_idea_path(@idea.id), method: :post, onclick: 'dislikeIdea()', class: 'text-muted', id: 'dislike_btn', remote: true do
                = icon('fas', 'heart', title: t(:dislike))
      %hr
        %p= simple_format(@idea.description)
      %hr
        .links
          .row.text-left
            .col
              %span.small
                = icon('fas', 'comments', title: t(:comments))
              %span.small#likes_counter
                = @idea.comments.size
            .col
              %span.small
                = icon('fas', 'heartbeat', title: t(:likes))
              %span.small#likes_counter
                = @idea.get_likes.size
            .col  
              = link_to '#', class: 'small mr-1 icon-link' do
                = icon('fas', 'user', user_information(@idea), title: t(:added_by))
            .col  
              %span.small
                = icon('fas', 'clock', time_ago(@idea.created_at), title: t(:adding_date))

- if can?(:manage, @idea, current_user)
  #project-box
    .card
      .card-body
        .row
          .col
            = link_to edit_idea_path(@idea), class: 'btn btn-info btn-sm btn-custom-width' do
              = icon('fas', 'edit', t(:edit))
          .col
            = link_to idea_path(@idea), method: :delete, class: 'btn btn-sm btn-danger btn-custom-width', data: { confirm: t(:delete_confirmation) } do
              = icon('fas', 'trash', t(:delete))
          .col#hide
            = link_to hide_idea_path(@idea.id), onclick: 'hideIdea()', method: :post, remote: true, class: 'btn btn-sm btn-dark btn-custom-width' do
              = icon('fas', 'eye-slash', t(:hide))
          .col#active
            = link_to active_idea_path(@idea.id), onclick: 'activateIdea()', method: :post, remote: true, class: 'btn btn-sm btn-primary btn-custom-width' do
              = icon('fas', 'eye', t(:active))

- if can?(:create, Comment, current_user)
  = render partial: 'comments/add_comment'

- if @comments.any?
  #project-box
    .card
      .card-body
        %h4= t(:comments)
        %hr
        - @comments.each do |comment|
          .row
            .col-8
              .text-left
                %span
                  = icon('fas', 'comment', comment.content)
            .col-4
              .text-right
                %span.small
                  = icon('fas', 'user', user_information(comment), title: t(:user_information))
                &nbsp |
                = link_to comment_path(comment), method: :delete, class: 'small icon-link', data: { confirm: t(:delete_confirmation) } do
                  = icon('fas', 'trash', title: t(:delete))
          %hr
:javascript
  var idea_liked  = #{object_liked?(@idea)};
  var idea_id     = #{@idea.id};
  var idea_likes  = #{@idea.get_likes.size};
  var idea_active = #{@idea.status.eql?(STATUS[:active])}