.list-group
  - projects.each do |project|
    = link_to project, class: 'list-group-item list-group-item-action' do
      .row
        .col-1
          %i
            = image_tag(project_image(project), class: 'title-image')
        .col-9
          %h5.title
            = project.title
          %p
            = truncate(project.description, length: length)
        .col-2
          %span.badge.badge-pill.badge-primary.float-right
            = time_ago(project.created_at)
