#devise-box
  .card
    .card-body
      %h4= t(:change_your_password)
      %hr
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        = f.error_notification
        = f.input :reset_password_token, as: :hidden
        = f.full_error :reset_password_token
        .form-group
          %label= t(:new_password)
          = f.input :password, required: true, label: false, autofocus: true, hint: ("#{@minimum_password_length} #{t(:minimum_password)}" if @minimum_password_length), input_html: { autocomplete: "new-password" }
        .form-group
          %label= t(:password_confirmation)
          = f.input :password_confirmation, required: true, label: false
        .form-actions
          = f.button :submit, t(:change_password), class: 'btn btn-primary'
= render partial: 'devise/shared_links_div'
