#devise-box
  .card
    .card-body
      %h4= t(:forgot_your_password?)
      %hr
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = f.error_notification
        .form-group
          %label= t(:email)
          = f.input :email, required: true, autofocus: true, input_html: { autocomplete: 'email' }, label: false, class: 'form-control'
        .form-actions
          = f.button :submit, t(:send), class: 'btn btn-primary'
= render partial: 'devise/shared_links_div'