%h1 Listing projects

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Image url
      %th Github link
      %th User
      %th
      %th
      %th

  %tbody
    - @projects.each do |project|
      %tr
        %td= project.title
        %td= project.description
        %td= project.image_url
        %td= project.github_link
        %td= project.user
        %td= link_to 'Show', project
        %td= link_to 'Edit', edit_project_path(project)
        %td= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Project', new_project_path
