= javascript_include_tag :projects

- unless @project.tech_stack_list.present?
  #project-box
    .card.text-white.bg-success.mb-3
      .card-body
        %p.card-text
          #{t(:add_tags)} #{link_to t(:edit), edit_project_path(@project), class: 'small muted'}

#project-box
  .card
    .card-body
      .row
        .col-1
          .text-left
            = image_tag(project_image(@project), class: 'card-image')
        .col-9
          .text-left
            %h4= @project.title
        .col-2
          - if user_signed_in?
            .text-right
              = link_to like_project_path(@project.id), method: :post, remote: true, onclick: 'likeProject()', class: 'text-muted', id: 'like_btn' do
                = icon('far', 'heart', title: t(:like))
              = link_to dislike_project_path(@project.id), method: :post, onclick: 'dislikeProject()', class: 'text-muted', id: 'dislike_btn', remote: true do
                = icon('fas', 'heart', title: t(:dislike))
      %hr
        %p= simple_format(@project.description)
      - if @project.tech_stack_list.present?
        %hr
        - @project.tech_stack_list.each do |stack|
          %span
            .badge.tags-badge
              = stack.titleize
      %hr
        .links
          .row.text-left
            .col
              = link_to @project.github_link, class: 'small icon-link', target: '_blank' do
                = icon('fab', 'github', t(:repository), title: t(:repository))
            .col
              %span.small
                = icon('fas', 'heartbeat', title: t(:likes))
              %span.small#likes_counter
                = @project.get_likes.size
            .col  
              = link_to '#', class: 'small mr-1 icon-link' do
                = icon('fas', 'user', user_information(@project), title: t(:added_by))
            .col  
              %span.small
                = icon('fas', 'clock', time_ago(@project.created_at), title: t(:adding_date))

- if can?(:manage, @project, current_user)
  #project-box
    .card
      .card-body
        .row
          .col
            = link_to edit_project_path(@project), class: 'btn btn-info btn-sm btn-custom-width' do
              = icon('fas', 'edit', t(:edit))
          .col
            = link_to project_path(@project), method: :delete, class: 'btn btn-sm btn-danger btn-custom-width', data: { confirm: t(:delete_confirmation) } do
              = icon('fas', 'trash', t(:delete))
          .col#hide
            = link_to hide_project_path(@project.id), onclick: 'hideProject()', method: :post, remote: true, class: 'btn btn-sm btn-dark btn-custom-width' do
              = icon('fas', 'eye-slash', t(:hide))
          .col#active
            = link_to active_project_path(@project.id), onclick: 'activateProject()', method: :post, remote: true, class: 'btn btn-sm btn-primary btn-custom-width' do
              = icon('fas', 'eye', t(:active))

:javascript
  var project_liked  = #{object_liked?(@project)};
  var project_id     = #{@project.id};
  var project_likes  = #{@project.get_likes.size};
  var project_active = #{@project.status.eql?(STATUS[:active])}