= javascript_include_tag :projects

#project-box
  .card
    .card-body
      .row
        .col-10
          %h4= @project.title
        .col-2
          - if user_signed_in?
            .text-right
              = link_to like_project_path(@project.id), method: :post, remote: true, onclick: 'likeProject()', class: 'text-muted', id: 'like_btn' do
                = icon('far', 'heart', title: t(:like))
              = link_to dislike_project_path(@project.id), method: :post, onclick: 'dislikeProject()', class: 'text-muted', id: 'dislike_btn', remote: true do
                = icon('fas', 'heart', title: t(:dislike))
      %hr
        - if @project.image_url.present?
          %p.text-center
            = image_tag(@project.image_url)
        %p= simple_format(@project.description)
      
      %hr
        .links
          .row.text-center
            .col
              = link_to @project.github_link, class: 'small mr-1' do
                = icon('fab', 'github', t(:repository), title: t(:repository))
            .col
              %span.small
                = icon('fas', 'heartbeat', title: t(:likes))
              %span.small#likes_counter
                = @project.get_likes.size
            .col  
              = link_to '#', class: 'small mr-1' do
                = icon('fas', 'user', user_information(@project), title: t(:added_by))
            .col  
              %span.small
                = icon('fas', 'clock', time_ago(@project.created_at), title: t(:adding_date))

- if can?(:manage, @project, current_user)
  #project-box
    .card
      .card-body
        .row
          .col
            = link_to edit_project_path(@project), class: 'btn btn-info btn-sm btn-custom-width' do
              = icon('fas', 'edit', t(:edit))
          .col
            = link_to project_path(@project), method: :delete, class: 'btn btn-sm btn-danger btn-custom-width', confirm: t(:delete_confirmation) do
              = icon('fas', 'trash', t(:delete))
          .col#hide
            = link_to hide_project_path(@project.id), onclick: 'hideProject()', method: :post, remote: true, class: 'btn btn-sm btn-dark btn-custom-width' do
              = icon('fas', 'eye-slash', t(:hide))
          .col#active
            = link_to active_project_path(@project.id), onclick: 'activateProject()', method: :post, remote: true, class: 'btn btn-sm btn-primary btn-custom-width' do
              = icon('fas', 'eye', t(:active))

:javascript
  var project_liked = #{project_liked?};
  var project_id    = #{@project.id};
  var project_likes = #{@project.get_likes.size};
  var project_active = #{@project.status.eql?(STATUS[:active])}