#devise-box
  .card
    .card-body
      %h4= t(:login)
      %hr
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group
          %label= t(:email_address)
          = f.input :email, required: true, autofocus: true, class: 'form-control', label: false
        .form-group
          %label= t(:password)
          = f.input :password, class: 'form-control', label: false
        .form-group
          = f.input :remember_me, label: t(:remember_me), as: :boolean if devise_mapping.rememberable?
        .form-actions
          = f.button :submit, t(:login), class: 'btn btn-primary'
= render partial: 'devise/shared_links_div'
