.row
  .col
    .card.border-top-0.p-3
      - if @liked_projects.present?
        %table.table.table-hover.table-bordered.table-board
          %thead
            %tr.d-flex.bg-primary
              %th.col-10
                = t(:project)
              %th.col-2.text-center
                = t(:since)
          %tbody
            - @liked_projects.each do |project|
              %tr.d-flex
                %td.col-10
                  = link_to project.title, project, class: 'title-board'
                %td.col-2.text-center.time-ago
                  = time_ago(project.created_at)
      - else
        %p.text-center
          = t(:no_results)
