.row
  .col
    .card.border-top-0.p-3
      - if @liked_ideas.present?
        %table.table.table-hover.table-bordered.table-board
          %thead
            %tr.d-flex.bg-primary
              %th.col-10
                = t(:idea)
              %th.col-2.text-center
                = t(:since)
          %tbody
            - @liked_ideas.each do |idea|
              %tr.d-flex
                %td.col-10
                  = link_to idea.title, idea, class: 'title-board'
                %td.col-2.text-center.time-ago
                  = time_ago(idea.created_at)
      - else
        %p.text-center
          = t(:no_results)
