.row
  .col
    .card.border-top-0.p-3
      - if @owned_projects.present?
        %table.table.table-hover.table-bordered.table-board
          %thead
            %tr.d-flex.bg-primary
              %th.col-8
                = t(:project)
              %th.col-2.text-center
                = t(:since)
              %th.col-2.text-center
                = t(:actions)
          %tbody
            - @owned_projects.each do |project|
              %tr.d-flex
                %td.col-8
                  = link_to project.title, project, class: 'title-board'
                  - if project.status.eql?(STATUS[:inactive])
                    = icon('fas', 'eye-slash', text: t(:hidden), title: t(:hidden), class: 'hidden-object')
                %td.col-2.text-center.time-ago
                  = time_ago(project.created_at)
                %td.col-2.text-center
                  = link_to edit_project_path(project), class: 'small icon-link' do
                    = icon('fas', 'edit', t(:edit))
                  = link_to project_path(project), method: :delete, class: 'small icon-link', data: { confirm: t(:delete_confirmation) } do
                    = icon('fas', 'trash', t(:delete))
      - else
        %p.text-center
          = t(:no_results)
