#heading-with-line
  %h5
    = t(:shared_projects)
.row
  - @owned_projects.each do |project|
    .col-lg-6.col-md-6.col-sm-12
      .card
        .card-body#custom-body
          .row
            .col-lg-8.col-md-8.col-sm-12
              %p
                = link_to project.title, project, class: 'title'
            .col-lg-4.col-md-4.col-sm-12.text-right
              = link_to edit_project_path(project), class: 'small icon-link' do
                = icon('fas', 'edit', title: t(:edit))
              = link_to project_path(project), method: :delete, class: 'small icon-link', data: { confirm: t(:delete_confirmation) } do
                = icon('fas', 'trash', title: t(:delete))