.row
  .col-8
    #heading-with-line
      %h5
        = t(:shared_projects)
    %table.table.table-sm.table-striped.table-bordered.table-hover
      %thead.thead-primary
        %tr
          %th.text-center{:scope => "col"} #
          %th.text-center{:scope => "col"}= t(:title)
          %th.text-center{:scope => "col"}= t(:status)
          %th.text-center{:scope => "col"}= t(:actions)
      %tbody
        - @owned_projects.each_with_index do |project, index|
          %tr
            %th.text-center{:scope => "row"}= index + 1
            %td= project.title
            %td.text-center= t(STATUS.key(project.status))
            %td.text-center @mdo


  .col-4
    #heading-with-line
      %h5
        = t(:liked_projects)
    .card
      .card-body#custom-body
        %table.table.table-sm.table-borderless.mb-0.pb-0
          %tbody
            - @liked_projects.each do |project|
              %tr
                %td
                  = link_to project.title, project_path(project), class: 'title'
                  .small= icon('fas', 'clock', time_ago(project.created_at))
                  %hr