%ul.navbar-nav.ml-auto
  - unless user_signed_in?
    %li.nav-item
      = link_to new_user_session_path, class: 'navbar-link' do
        = icon('fas', 'sign-in-alt', t(:login))
    %li.nav-item
      = link_to new_user_registration_path, class: 'navbar-link' do
        = icon('fas', 'user-plus', t(:register))
  - if user_signed_in?
    %li.nav-item
      = link_to new_project_path, class: 'navbar-link' do
        = icon('fas', 'plus', t(:new_project))
    %li.nav-item
      = link_to new_idea_path, class: 'navbar-link' do
        = icon('fas', 'plus', t(:new_idea))
    %li.nav-item
      = link_to user_board_path, class: 'navbar-link' do
        = icon('fas', 'clipboard-list', t(:board))
    %li.nav-item.dropdown
      = link_to '#', class: 'navbar-link dropdown-toggle', id: 'navbarDropdown', 'aria-expanded': false, 'aria-haspopup': true, 'data-toggle': 'dropdown' do
        = icon('fas', 'cog', t(:settings))
      .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
        = link_to edit_user_registration_path, class: 'dropdown-item navbar-dropdown' do
          = icon('fas', 'user-edit', t(:edit_profile))
        .dropdown-divider
        = link_to destroy_user_session_path, method: :delete, class: 'dropdown-item navbar-dropdown' do
          = icon('fas', 'sign-out-alt', t(:logout))