%footer
  .container
    .row
      .col-12
        %ul#contact-list
          .row
            .col
              %li
                %span.small
                  Copyright © 2019
                %span.small#title
                  Swyya
                %span.small
                  All rights reserved.
          .row
            .col
              - %w[globe facebook product-hunt github].each do |social|
                %li
                  = link_to SOCIAL[social.to_sym], target: '_blank' do
                    = icon("#{social.eql?('globe') ? 'fas' : 'fab'}", social, t(social))
          .row
            .col
              %li.github-notice
                = link_to SOCIAL[:github] do
                  #{t(:we_run_with_github_love)} #{image_tag('octocat.png')}