%footer
  .container
    .row
      .col-12
        %ul#contact-list
          .row
            .col
              %a{:href => "https://www.producthunt.com/posts/swyya?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-swyya", :target => "_blank"}
                %img{:alt => "Swyya - Find trending open source projects to contribute to | Product Hunt Embed", :height => "54px", :src => "https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=154522&theme=light", :style => "width: 200px; height: 56px;", :width => "200px"}
          .row
            .col
              %li
                %span.small
                  Copyright © 2019
                %span.small#title
                  Swyya
                %span.small
                  All rights reserved.
          .row
            .col
              - %w[globe facebook product-hunt github].each do |social|
                %li
                  = link_to SOCIAL[social.to_sym], target: '_blank' do
                    = icon("#{social.eql?('globe') ? 'fas' : 'fab'}", social, t(social))
          .row
            .col
              %li.github-notice
                = link_to SOCIAL[:github] do
                  #{t(:we_run_with_github_love)} #{image_tag('octocat.png')}