!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'favicon.ico'
    = display_meta_tags site: 'Sawia', title: @title , description: @description, keywords: @keywords
  %body
    = render partial: 'layouts/navbar/main'
    = render partial: 'layouts/alerts'
    %div{class: 'container py-4'}
      .row
        .col-12
          = yield
    = render partial: 'layouts/footer'
