!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'favicon.ico'
    = display_meta_tags site: 'Swyya', title: @title , description: @description, keywords: @keywords
  %body
    = render partial: 'layouts/navbar/main'
    = render partial: 'layouts/alerts'
    %div{class: "#{controller_name.eql?('visitors') && action_name.eql?('index') ? 'container-fluid' : 'container py-3'}"}
      .row
        .col-12
          = yield
    = render partial: 'layouts/footer'

:javascript
  window.$crisp=[];window.CRISP_WEBSITE_ID="bc5e8150-e86c-4023-bfd5-f66c9b35b52b";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();
